.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #343a40db;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: aliceblue;
    border-right: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    border-radius: 50%;
    background-color: #dee3e7ea;
}

.img_edit_show {
    height: 150px;
    border: 2px dashed rgb(87, 83, 83);
}

input[type='checkbox'] {
    transform: scale(1.3);
    margin-right: 4px;
}

.check_all {
    margin-right: 4px;
    margin-left: 26px;
}